<div class="container-fluid">
  <div class="row">
    <!-- sidebar -->
    <div
      class="col-md-3 col-lg-2 px-0 position-fixed h-100 bg-white shadow-sm sidebar"
      id="sidebar"
    >
      <img
        width="100%"
        class="text-primary d-flex my-4 justify-content-center"
        src="https://vishnu.edu.in/companylogos/KAAR.PNG"
      />
      <div class="list-group rounded-0">
        <a
          (click)="navToEmployeeDashboard()"
          class="list-group-item list-group-item-action border-0 d-flex align-items-center"
        >
          <span class="bi bi-grid-1x2"></span>
          <span class="ml-2">Dashboard</span>
        </a>

        <a
          (click)="navToLeavereq()"
          class="list-group-item list-group-item-action border-0 align-items-center"
        >
          <span class="bi bi-credit-card"></span>
          <span class="ml-2">Leave Req</span>
        </a>
        <a
          (click)="navToPayslip()"
          class="list-group-item active list-group-item-action border-0 align-items-center"
        >
          <span class="bi bi-cash-stack"></span>
          <span class="ml-2">Payslip</span>
        </a>
        <a
          (click)="navToProfile()"
          class="list-group-item list-group-item-action border-0 align-items-center"
        >
          <span class="bi bi-person"></span>
          <span class="ml-2">Profile</span>
        </a>
        <a
          (click)="logOut()"
          class="list-group-item list-group-item-action border-0 align-items-center"
        >
          <span class="bi bi-box-arrow-right"></span>
          <span class="ml-2">Logout</span>
        </a>
      </div>
    </div>
    <!-- overlay to close sidebar on small screens -->
    <div
      class="w-100 vh-100 position-fixed overlay d-none"
      id="sidebar-overlay"
    ></div>
    <!-- note: in the layout margin auto is the key as sidebar is fixed -->
    <div class="col-md-9 col-lg-10 ml-md-auto px-0">
      <!-- top nav -->
      <nav class="w-100 d-flex px-4 py-2 mb-4 shadow-sm">
        <!-- close sidebar -->
        <h3>Payslip Print Preview</h3>
        <button class="btn py-0 d-lg-none" id="open-sidebar">
          <span class="bi bi-list text-primary h3"></span>
        </button>
        <div class="dropdown ml-auto">
          <button
            class="btn py-0 d-flex align-items-center"
            id="logout-dropdown"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="bi bi-person text-primary h4"></span>
            <span class="bi bi-chevron-down ml-1 mb-2 small"></span>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right border-0 shadow-sm"
            aria-labelledby="logout-dropdown"
          >
            <a class="dropdown-item" (click)="navToProfile()">Profile</a>
            <a class="dropdown-item" (click)="logOut()">Logout</a>
          </div>
        </div>
      </nav>
      <!-- main content -->
      <main class="container-fluid">
        <div id="invoice" class="container" [innerHTML]="payslipHTML"></div>
      </main>
      <div class="container" id="spincontainer">
        <div class="row h-100">
          <div class="w-25 mx-auto">
            <div
              class="spinner-border text-primary spin"
              style="width: 3rem; height: 3rem"
              role="status"
              [hidden]="network.isLoading"
            ></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1">
            <button id="b2" class="icon-button" (click)="navToPayslip()">
              <i class="fa fa-ban"></i>
              <i class="fa fa-arrow-left fa--bottom"></i>Cancel
            </button>
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-1">
            <button id="b2" (click)="printPayslip()" class="icon-button">
              <i class="fa fa-download"></i>
              <i class="fa fa-file-pdf fa--bottom"></i>Download
            </button>
          </div>

          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
        </div>
        <div style="height: 70px"></div>
        <div class="fixed-bottom">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
